beautifulsoup4==4.13.4
fitz==0.0.1.dev2
joblib==1.4.2
langdetect==1.0.9
pandas==2.3.0
Requests==2.32.3
scikit_learn==1.7.0
sentence_transformers==4.1.0
spacy==3.8.5
streamlit==1.37.1
torch==2.7.0
tqdm==4.66.5
transformers==4.51.3
